# Python
__pycache__/
*.pyc
*.pyo
venv/

# Environment
.env
.env.local

# Database
db.sqlite3

# IDE
.vscode/
.idea/

# Logs
logs/
logs/*.log
*.log

# Testing
htmlcov/
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# Django
staticfiles/
media/
*.egg-info/

# Docker
.dockerignore